@model IEnumerable<RecipesApp.Models.Ingredient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Necessary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Necessary)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { productid=item.ProductId, recipeid=item.RecipeId }) |
                @Html.ActionLink("Details", "Details", new { productid=item.ProductId, recipeid=item.RecipeId }) |
                @Html.ActionLink("Delete", "Delete", new { productid=item.ProductId, recipeid=item.RecipeId })
            </td>
        </tr>
}
    </tbody>
</table>
